@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

nav {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    height: 65px;
    position: relative;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: white;
    align-items: center;
    position: absolute;
    top: 10px;
}

nav ul li{
    padding: 0 15px;
}

.logo img {
    width: 42px;
    padding: 0 6px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
}

.music-container {
    min-height: 75vh;
}

.bottom-player {
    position: sticky;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progressBar {
    width: 80vw;
}